# Convert 1-n relationship data frames to JSON

In [23]:
import pandas as pd
import json

In [6]:
df_customer = pd.DataFrame( {
    'id':['23432', '678786'],
    'name_customer':['Customer A', 'Customer B']
})
df_customer

       id name_customer
0   23432    Customer A
1  678786    Customer B

In [8]:
df_order = pd.DataFrame({
    'id_customer':['23432', '23432', '678786', '678786', '678786'],
    'id_order':['1', '3', '1', '4', '2'],
    'date_order': ['2022-11-10', '2022-11-12', '2022-11-10', '2022-11-13', '2022-11-17']
})
df_order

  id_customer id_order  date_order
0       23432        1  2022-11-10
1       23432        3  2022-11-12
2      678786        1  2022-11-10
3      678786        4  2022-11-13
4      678786        2  2022-11-17

Combine two dataframes to recursive dictionaries:

In [26]:
dict_customers = df_customer.to_dict('records')

lst_dicts = []
for customer in dict_customers:
    df_customer_orders = df_order[df_order['id_customer'] == customer['id']]
    lst_dicts.append({
        'customer': customer,
        'orders': df_customer_orders.to_dict()
    }) 
print(lst_dicts)

[{'customer': {'id': '23432', 'name_customer': 'Customer A'}, 'orders': {'id_customer': {0: '23432', 1: '23432'}, 'id_order': {0: '1', 1: '3'}, 'date_order': {0: '2022-11-10', 1: '2022-11-12'}}}, {'customer': {'id': '678786', 'name_customer': 'Customer B'}, 'orders': {'id_customer': {2: '678786', 3: '678786', 4: '678786'}, 'id_order': {2: '1', 3: '4', 4: '2'}, 'date_order': {2: '2022-11-10', 3: '2022-11-13', 4: '2022-11-17'}}}]

Turn it into JSON:

In [27]:
json_all = json.dumps(lst_dicts, indent=2)
print(json_all)

[
  {
    "customer": {
      "id": "23432",
      "name_customer": "Customer A"
    },
    "orders": {
      "id_customer": {
        "0": "23432",
        "1": "23432"
      },
      "id_order": {
        "0": "1",
        "1": "3"
      },
      "date_order": {
        "0": "2022-11-10",
        "1": "2022-11-12"
      }
    }
  },
  {
    "customer": {
      "id": "678786",
      "name_customer": "Customer B"
    },
    "orders": {
      "id_customer": {
        "2": "678786",
        "3": "678786",
        "4": "678786"
      },
      "id_order": {
        "2": "1",
        "3": "4",
        "4": "2"
      },
      "date_order": {
        "2": "2022-11-10",
        "3": "2022-11-13",
        "4": "2022-11-17"
      }
    }
  }
]